<library path="pcl_filter_editor">
  <class
    name="PCL Pipeline Editor"
    type="pcl_filter_editor.pipeline_editor.PipelineEditor"
    base_class_type="rqt_gui_py::Plugin">
    <description>Visual editor for PCL filter component pipelines.</description>
    <qtgui>
      <group>
        <label>Perception</label>
        <icon type="theme">applications-engineering</icon>
        <statustip>Plugins for point cloud processing pipelines.</statustip>
      </group>
      <label>PCL Pipeline Editor</label>
      <icon type="theme">insert-link</icon>
      <statustip>Create and save PCL filter component pipelines.</statustip>
    </qtgui>
  </class>
</library>
